<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin-top:15px; margin-left:15px">
    <a href="/"><img style="width:600px;height:180px" src="/static/img/Logo.png"></img></a>
    
    <div style="text-align:center;">
        {% block content %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
