{% extends "layout.html" %}

{% block content %}
<h1>
  Odds for match {{ odds[0].match.home }} - {{ odds[0].match.away }}
</h1>

<table class="table">
<tr>
  <th>ID</th>
  <th>Bookmaker</th>
  <th>Prematch/Inplay</th>
  <th>Type</th>
  <th>Period</th>
  <th>Price</th>
</tr>
<form action="/api/bet" method="POST">
<tbody>
{% for e in odds %}
  <tr>
    <td><input type="radio" name="oddId" value="{{e.id}}">{{ e.id }}</td>
    <td>{{ e.bookmaker.name }}</td>
    <td>{{ e.when }}</td>
    <td>{{ e.type_id }}</td>
    <td>{{ e.period_id }}</td>
    <td>{{ e.price }}</td>
  </tr>
{% endfor %}
</tbody>
<button type="submit" class="btn btn-primary">Bet</button>
<input type="number" name="amount" />
</form>
</table>

{% endblock %}
