{% extends "layout.html" %}

{% block content %}
<h1>Matches list</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Start time</th>
        <th>Home</th>
        <th>Away</th>
        <th>Status</th>
    </tr>
    <tbody>
        {% for e in matches %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.time }} GMT</td>
            <td>{{ e.home }}</td>
            <td>{{ e.away }}</td>
            {% if e.live %}
            <td><span class="red-text text-darken-2">Live</span></td>
            {% else %}
            <td>No live bets</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
  setTimeout(function() {
    location.reload();
  }, 360 * 1000);
</script>
{% endblock %}
