{% extends "layout.html" %}

{% block content %}
<h1>
Jobs
</h1>

<table class="table">
  <tbody>
{% for e in jobs %}
  <tr>
    <td><a href="/job/{{e.id}}">{{e.id}}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
</form>

<h1>
History
</h1>

<table class="table">
  <tbody>
  <tr>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
    <th>Bet type</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Outcome</th>
    <th>Profit/Loss</th>
  </tr>

{% for e in history %}
  <tr>
    <td>{{e.time}}</td>
    <td>{{e.home}}</td>
    <td>{{e.away}}</td>
    <td>{{e.type_id}}</td>
    <td>{{e.price}}</td>
    <td>{{e.amount}}</td> 
    <td>{{e.outcome}}</td> 
    <td>{{e.profit}}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
