<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin-top:15px; margin-left:15px">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">BetManager</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/surebets">Sure bets</a></li>
          <li><a href="/history">History</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/surebets">Sure bets</a></li>
      <li><a href="/history">History</a></li>
    </ul>

    <div style="text-align:center;">
        {% block content %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>

</body>

</html>
