{% extends "layout.html" %}

{% block content %}
{% for row in bets_rows %}
  <div class="row">
    {% for col in row %}
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ col["match"]["home"] }} - {{ col["match"]["away"] }}</span>
            <table class="striped">
              <thead>
                <th>Bet</th>
                <th>Bookmaker</th>
                <th>Price</th>
              </thead>
              
              <tbody>
                {% for k in col["odds"].keys() %}
                  <tr>
                    <td>{{ mapping[col["odds"][k]["type_id"]] }}
                    {% if col["odds"][k]["hc"] != 0 %}
                    {{ col["odds"][k]["hc"] }}
                    {% endif %}
                    </td>
                    <td>{{ col["odds"][k]["bookmaker"]["name"] }}</td>
                    <td>{{ col["odds"][k]["price"] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            Expected profit: {{col["profit"]}}%
            <form action="/surebets" method="POST">
              <input type="number" name="max_amount"></input>
              <input type="hidden" name="bet" value="{{col | dumps | to_bytes | b64encode }}"></input>
              <button class="btn waves-effect waves-light" type="submit" name="action">Bet on this
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}


<script>
  setTimeout(function() {
    location.reload();
  }, 1000 * 1000);
</script>
{% endblock %}

